body, .background, .container,.image-container,.clock-container{
    display: flex;
    justify-content: center;
}
/* .eth-container, .eth,.avatar{
    float: left;
} */
.background{
    background-color: hsl(217, 54%, 11%);
    width: 1000px;
    margin: 2em 0em 2em 0em;
}
.container{
    background-color: hsl(216, 50%, 16%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0px 50px 0px;
    border-radius: 8px;
    padding: 0px 12px 20px 12px;
    box-shadow: 10px 10px 10px 10px  hsl(217, 54%, 11%,70%),20px 20px 20px 20px hsl(216, 50%, 16%,30%);;
}
.image-container{
    margin-top: 10px;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    background: url(./images/image-equilibrium.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.text-container{
    width: 210px;
    font-family: 'Outfit', sans-serif;
}
.text__name{
    color: hsl(0, 0%, 100%);
    font-weight: 600; 
    font-size: 15px;
}
.text__about{
    color: hsl(215, 51%, 70%, 50%);
    font-size: 12px;
    font-weight: 400;
}
.icon_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: hsl(178, 100%, 50%);
}
.clock{
    width: 15px;
    height:15px;
    margin-left: auto;
}
.eth__text{
    font-size: 12px;
}
.clock__text{
    font-size: 12px;
    color: hsl(215, 51%, 70%, 50%) ; 
    padding:  0px 5px;
}
.eth{
    width: 10px;
    height: 15px;
    padding:0px 5px;
}

.avatar-container{
    display: flex;
    align-items: center;
    font-size: 10px;
    padding: 5px 0px;
    gap: 10px;

}
.creator-1{
    color: hsl(215, 51%, 70%, 70%);
}
.creator-2,.attribution{
    color: hsl(0, 0%, 100%);
}
hr{
    border: 0.3px solid  hsl(215, 51%, 70%, 5%);
}

.avatar{
    width: 20px;
    height: 20px;
    border: white solid 1px;
    border-radius: 100px;
}

.image-container:hover{
    /* display: none; */
    background-image: url(./images/icon-view.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 200px;
    background-color:hsl(178, 100%, 50%) ;
    cursor: pointer;
}

.text__name:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}
.creator-2:hover{
    color:hsl(178, 100%, 50%) ;
    cursor: pointer;
}